.line-chart{
    max-width: 600px;
    width: 100%;
    background-color: #FFF;
    margin: auto;
    padding: 25px;
    .temperature{
        color: #A1A1A1;
        font-size: 10px;
        margin-bottom: 10px;
    }
    .time{
        color: #A1A1A1;
        font-size: 10px;
        text-align: center;
    }
    .legend{
        font-size: 14px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 10px;
        color: #4D4F5C;
    }
}